{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}


<form method="POST" action="" name="form">
    {% csrf_token %}
    <div class="form-group">
        <input type="text" name="email" placeholder="Email..." class="form-control" required>
    </div>
    <div class="form-group">
        <input type="password" name="password1" placeholder="Password..." class="form-control" required>
    </div>
    <div class="form-group">
        <input type="password" name="password2" placeholder="Confirm Password..." class="form-control" required>
    </div>
    <div class="field">
        <label>Account type</label>
        <div class="control">
            <div class="select">
                <select name="is_recruiter">
                    <option value="False" selected>Student</option>
                    <option value="True">Employer</option>
                </select>
            </div>
        </div>
    </div>
    <div> {{form.errors}}</div>
    <button type="submit" name="signupbutton" class="btn btn-info btn-block btn-round">Sign Up</button>
</form>
<div>
    <h1> LOGIN TIME! </h1>
    <form method="POST" action="" name="form">
        {% csrf_token %}
        <div class="form-group">
            <input type="text" name="email" placeholder="Email..." class="form-control" required>
        </div>
        <div class="form-group">
            <input type="password" name="password" class="form-control" required>
        </div>
        <div> {{form.errors}}</div>
        <button type="submit" name="loginbutton" class="btn btn-info btn-block btn-round">Login</button>
    </form>
</div>

                    
                

{% endblock %}