{% extends 'nav_bar.html' %} {% block content %}
<div class="div-padding">

    <script>
        $(function() {
            var possibleSkills = [{% for s in skill_list %} "{{s.get_name_display}}", {% endfor %}];
            console.log(possibleSkills);
            $( "#skillTags" ).autocomplete({
                source: possibleSkills
            });
        });
    </script>

    <head>

        <h1>Edit Profile
            <a href="{% url 's_viewprofile' %}">
                <i class="fa fa-home fa-pull-right"></i>
            </a>
        </h1>
    </head>

    <br>
    <br>
    <form method="POST" action="" enctype="multipart/form-data" >
        {% csrf_token %}
        <div class="form-group">
            <label>First Name</label>
            <br> {{form.first_name}}
        </div>
        <div class="form-group">
            <label>Last Name</label>
            <br> {{form.last_name}}
        </div>
        <div class="form-group">
            <label>School</label>
            <br> {{form.school}}
        </div>
        <div class=" form-group ">
            <label>Graduation Year</label>
            <br> {{form.graduation_year}}
        </div>
        <div class=" form-group ">
            <label>Major</label>
            <br> {{form.major}}
        </div>
        <div class="form-group">
            <label>Profile Picture</label>
            <br> {{form.picture}}
        </div>
        <div class="form-group">
            <label> Skills </label>
            <input type="text" data-role="tagsinput" class="form-control" name="skills" id="skillTags" value="C++">


        </div>
        <div class="form-group ">
            <label> Interests </label>
            <select multiple data-role="tagsinput " name="interests ">
            </select>
        </div>
        <button type="submit " class="btn btn-primary " value="Upload ">Submit</button>
    </form>

    <div>

        </body>
    </div>

    {% endblock content %}