{% extends 'nav_bar.html' %} {% block content %}
<div class="div-padding">

    <head>

        <h1>Edit Profile
            <a href="{% url 's_viewprofile' %}">
                <i class="fa fa-home fa-pull-right"></i>
            </a>
        </h1>
    </head>

    <br>
    <br>
    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label>First Name</label>
            <div class="form-error-text">
                {{form.first_name.errors}}
            </div>
            {{form.first_name}}
        </div>
        <div class="form-group">
            <label>Last Name</label>
            <div class="form-error-text">
                {{form.last_name.errors}}
            </div>
            {{form.last_name}}
        </div>
        <div class="form-group">
            <label>School</label>
            <div class="form-error-text">
                {{form.school.errors}}
            </div>
            {{form.school}}
        </div>
        <div class=" form-group ">
            <label>Graduation Year</label>
            <div class="form-error-text">
                {{form.graduation_year.errors}}
            </div>
            {{form.graduation_year}}
        </div>
        <div class=" form-group ">
            <label>Major</label>
            <div class="form-error-text">
                {{form.major.errors}}
            </div>
            {{form.major}}
        </div>
        <div class="form-group">
            <label>Profile Picture</label>
            <br> {{form.picture}}
        </div>
        <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
    </form>

</div>

</body>
</div>

{% endblock content %}
