{% extends 'nav_bar.html' %} {% block content %}
<div class="div-padding">
    <head>
        <h1>Edit Profile
            <a href="{% url 'r_viewprofile' %}">
                <i class="fa fa-home fa-pull-right"></i>
            </a>
        </h1>
    </head>

    <br>
    <br>
    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label>Title</label>
            <div class="form-error-text">
                {{form.title.errors}}
            </div>
            <br> {{form.title}}
        </div>
        <div class="form-group">
            <label>Description</label>
            <div class="form-error-text">
                {{form.description.errors}}
            </div>
            <br> {{form.description}}
        </div>
        <!--move error under box-->
        <div class=" form-group ">
            <label>Location</label>
            <div class="form-error-text">
                {{form.location.errors}}
            </div>
            <br> {{form.location}}
        </div>

        <div class="form-group">
            <label>Profile Picture</label>
            <br> {{form.picture}}
        </div>
        <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
    </form>
</div>

</body>
</div>

{% endblock content %}