{% extends 'nav_bar.html' %} {% block content %}

<body class='bg-light text-black-50'></body>
<div class="div-light-blue-col ">
    <br><br>
    <div class="row ">
        <div class="small-12 medium-2 large-2 columns ">
            <div class="circle ">
                <!-- User Profile Image -->
                <!-- <div class="image-cropper "> -->
                <img class="profile-pic " src="{{ profile.picture.url }}">
                <!-- </div> -->
                <!-- Default Image -->
                <!--        <i class="fa fa-user fa-5x "></i> -->
            </div>
            <div class="p-image ">
                <i class="fa fa-camera upload-button"></i>
                <input class="file-upload " type="file" accept="image/*" />
            </div>
        </div>
    </div>

    <div class="pt-5 px-5">
        <div class="text-right">
            <a href="{% url 'r_editprofile' %}"> Edit </a>
        </div>
        <div class="text-center">
            <h3 class="text-white">
                {{ profile.title }}

            </h3>
            <h3 class="text-white-50">{{ profile.location }}</h3>
        </div>

        <h5 class="text-white-50 pt-2">
            {{ profile.description }}
        </h5>
    </div>
</div>

<div class="div-padding">

    <head>
        <h1>Jobs

            <a href="{% url 'createjob' %}">
                <i class="fa fa-plus fa-pull-right"></i>
            </a>

        </h1>
        <div class="row mb-2 posts ">
            {% if jobs is not None %} {% for j in jobs %}
            <div class="col-md-6 ">

                <div class="cards ">

                    <div class="row no-gutters border rounded flex-md-row mb-4 shadow-sm h-md-250 ">
                        <div class="col p-4 d-flex flex-column position-static ">
                            <h3 class="my-1 ">{{j.title}}
                            </h3>
                            <div style="display:flex">
                                {% for tag in j.requirements.all %}
                                <div class="mr-1 badge badge-info">#{{ tag.get_name_display }}</div>
                                {% endfor %}
                            </div>
                            <p class="mb-auto pt-2">{{j.description}}</p>
                            <p class="mb-auto text-muted pb-0">{{j.published}}</p>

                        </div>
                        <div class="col-xs-6 p-3 ">
                            <p>
                                <a href="{% url 'editjob' j.pk %}"> Edit</a>
                                <span style="padding-left:20px;"></span>
                                <a href="{% url 'r_browse' j.pk %}"> Recruit </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %} {% else %} You have no jobs {% endif %}

        </div>
    </head>
    <br>
    <br>

    <body>

        <div class="row mb-2 posts ">

        </div>
    </body>
</div>



{% endblock content %}