{% extends 'swipebase.html' %} {% block content %}

<style>
    .green {
        background-color: rgb(122, 214, 122);
    }
    
    .red {
        background-color: rgb(243, 121, 121);
    }
    
    .yellow {
        background-color: rgb(245, 245, 111);
    }
    
    .grey {
        background-color: rgb(134, 134, 133);
    }
</style>

<body>
    <div class="center">
        <div class="card ">
            <div class="additional ">
                <div class="user-card text-white-50 ">
                    <center>
                        <div class="circle ">
                            {% if request.user.is_recruiter%}
                            <img class="profile-pic " src="{{ student.picture.url }}"> {% else %}
                            <img class="profile-pic " src="{{ recruiter.picture.url }}"> {% endif %}
                        </div>
                    </center>
                    {% if request.user.is_recruiter %}
                    <h1 class="pt-3 ">{{student.first_name}} {{student.last_name}}</h1>
                    <h3>{{student.school}} Class of {{student.graduation_year}}</h3>
                    <p class="pt-1 px-4 text-white text-left ">Skills</p>
                    <div class="container text-left px-4 ">
                        {% for s in student.skills.all%}
                        <li>{{s.get_name_display}} </li> {% endfor %}
                    </div>
                    <div class="text-left px-4 ">
                        <p class="pt-1 text-white ">Involvement</p>
                        {% for i in involvement %}
                        <li>{{i.position}}, {{i.orginzation}}</li>
                        {% endfor %}
                    </div>
                    {% else %}
                    <h1 class="pt-3 ">{{recruiter.title}}</h1>
                    <h3>{{recruiter.location}}</h3>
                    <h4>{{recruiter.description}}</h4>
                    <p class="pt-1 px-4 text-white text-left ">Required Skills</p>
                    <div class="container text-left px-4 ">
                        {% for r in job.requirements.all%}
                        <li>{{r.get_name_display}} </li> {% endfor %}
                    </div>
                    <div class="text-left px-4 ">
                        <p class="pt-1 text-white ">Prefered Skills</p>
                        {% for p in job.preferences.all%}
                        <li>{{p.get_name_display}}</li>
                        {% endfor %}
                    </div>
                    {% endif %}

                </div>
                <div class="general ">
                    {% if request.user.is_recruiter %}
                    <h2>Experience</h2>
                    {% for e in exp %}
                    <div class="text-left ">
                        <h5 class="pt-2 font-weight-bold ">{{e.title}}</h5>
                        <h6>{{e.company}}</h6>
                        <p>{{e.dates}}</p>
                        <div class="small ">
                            {{e.description}}
                        </div>
                        {% endfor %}


                        <h2 class="text-center pt-3 ">Projects</h2>
                        {% for p in project %}

                        <h5 class="pt-2 font-weight-bold ">{{p.title}}
                        </h5>
                        <h6>{{p.company}}
                        </h6>
                        <p>{{p.dates}}</p>
                        <div class="small ">
                            {{p.description}}
                        </div>
                    </div>
                    {% endfor %} {% else %}
                    <div class="text-left ">
                        <h2 class="pt-2 font-weight-bold ">{{job.title}}</h2>
                        <h6>{{job.published}}</h6>
                        <p>{{job.location}}</p>
                        {{job.description}}
                    </div>
                    {% endif %}


                </div>
            </div>
        </div>
    </div>
    </div>


    {% if not request.user.is_recruiter %}
    <form method="POST" action="{% url 'browse' %}" name="">
        {% else %}
        <form method="POST" action="{% url 'r_browse' curr_pk curr_student %}" name="">
            {% endif %} {% csrf_token %}
            <center>
                <div><button type="submit" name="submit" value="back" class="btn btn-circle btn-lg grey px-2 "><i class="fa fa-undo "></i></button>
                    <button type="submit" name="submit" value="rejected" class="btn btn-circle btn-lg red "><i class="fa fa-times "></i></button> {% if request.user.is_recruiter %}
                    <button type="submit" name="submit" class="btn btn-circle btn-lg yellow "><span class="tilde ">&#126;</span></button> {% endif %}
                    <button type="submit" name="submit" value="accepted" class="btn btn-circle btn-lg green "><i class="fa fa-check "></i></button></div>
            </center>
        </form>


</body> {% endblock content %}