{% extends 'swipebase.html' %} {% block content %}

<style>
    .green {
        background-color: rgb(122, 214, 122);
    }
    
    .red {
        background-color: rgb(243, 121, 121);
    }
    
    .yellow {
        background-color: rgb(245, 245, 111);
    }
    
    .grey {
        background-color: rgb(134, 134, 133);
    }
</style>

<body>
    <!-- <div class="right-split">Hello </div>-->
    <div class="center">
        <div class="card ">
            <div class="additional ">
                <div class="user-card text-white-50 ">
                    <center>
                        <div class="circle ">
                            <!-- User Profile Image -->
                            <!-- <div class="image-cropper ">--><img class="profile-pic " src="{{ options.picture.url }}">
                            <!-- </div>-->
                            <!-- Default Image -->
                            <!-- <i class=" fa fa-user fa-5x "></i>--></div>
                    </center>
                    {% if request.user.is_recruiter %}
                    <h1 class="pt-3 ">{{options.first_name}} {{options.last_name}}</h1>
                    <h3>{{options.school}} Class of {{options.gradation_year}}</h3>
                    {% else %}
                    <h1 class="pt-3 ">{{options.title}}</h1>
                    <h3>{{options.location}}</h3>
                    {% endif %}
                    <p class="pt-1 px-4 text-white text-left ">Skills</p>
                    <div class="container text-left px-4 ">
                        <!-- Skills list -->
                        <li>C++</li>
                        <li>Python </li>
                        <li>HTML & CSS </li>
                        <li>R </li>
                        <li>PCR </li>
                        <li>Flow Cytometry </li>
                        <li>Immunomagnetic Seperation </li>
                        <li>Mouse Handling, Injections, Disections </li>
                    </div>
                    <div class="text-left px-4 ">
                        <p class="pt-1 text-white ">Involvment</p>
                        <!-- Skills list -->
                        <li>TA, MIT's Office of Engineering Outreach Programs
                        </li>
                        <li>Web Masters, Sigma Kappy Theda Lambda Chapter </li>
                        <li>Member, Daughters of the American Revolution </li>
                    </div>
                </div>
                <!-- <div class="more-info "></div> -->
                <div class="general ">
                    {% if request.user.is_recruiter %}
                    <h2>Experience</h2>
                    {% for e in exp %}
                    <div class="text-left ">
                        <h5 class="pt-2 font-weight-bold ">{{e.title}}</h5>
                        <h6>{{e.company}}</h6>
                        <p>{{e.dates}}</p>
                        <div class="small ">
                            {{e.description}}
                        </div>
                        {% endfor %}
                        <!-- <h5 class="pt-2 font-weight-bold ">UROP</h5>
                        <h6>Koch Institute of Integrative Cancer Research, Spranger Lab
                        </h6>
                        <p>Summer 2020 - Fall 2020</p>
                        <div class="small ">Research in the Spranger lab focused on solid tumor immunology and computational biological analysis. Aid in day to day lab activities such as cell culture, mouse handling, immunological assays, staining and flowing of cells via
                            flow cytometry. Perform RNA-Seq analysis on single cell data observing expression differences between different tissue types and their responses to immune blocking therapy.
                        </div> -->

                        <h2 class="text-center pt-3 ">Projects</h2>
                        {% for p in project %}

                        <h5 class="pt-2 font-weight-bold ">{{p.title}}
                        </h5>
                        <h6>{{p.company}}
                        </h6>
                        <p>{{p.dates}}</p>
                        <div class="small ">
                            {{p.description}}
                        </div>
                    </div>
                    {% endfor %} {% else %}
                    <div class="text-left ">
                        <h5 class="pt-2 font-weight-bold ">{{job.title}}</h5>
                        <h6>{{job.published}}</h6>
                        <p>{{job.location}}</p>

                        {{job.description}}
                        <!-- <h5 class="pt-2 font-weight-bold ">UROP</h5>
                        <h6>Koch Institute of Integrative Cancer Research, Spranger Lab
                        </h6>
                        <p>Summer 2020 - Fall 2020</p>
                        <div class="small ">Research in the Spranger lab focused on solid tumor immunology and computational biological analysis. Aid in day to day lab activities such as cell culture, mouse handling, immunological assays, staining and flowing of cells via
                            flow cytometry. Perform RNA-Seq analysis on single cell data observing expression differences between different tissue types and their responses to immune blocking therapy.
                        </div> -->

                    </div>
                    {% endif %}


                </div>
            </div>
        </div>
        <!-- <div><span class="more-info ">Mouse over the card for more info</span> -->
    </div>
    </div>
    <center>
        <div><button type="button " class="btn btn-circle btn-lg grey px-2 "><i class="fa fa-undo "></i></button><button type="button " class="btn btn-circle btn-lg red "><i class="fa fa-times "></i></button><button type="button " class="btn btn-circle
                                btn-lg yellow "><span class="tilde ">&#126;
    </span></button><button type="button " class="btn btn-circle btn-lg green "><i class="fa fa-check "></i></button></div>
    </center>
    </div>
</body> {% endblock content %}