{% extends 'base.html' %} {% block content %}{% load static %}

<style>
    .bg {
        background: linear-gradient(#f8f8f8, #fff);
    }
    .login-header {
        text-decoration: none;
        padding: 20px;
    }
</style>

<div class="bg">
    <div class="login-header">
        <a href="{% url 'browse' %} " >
            <h1 class="mx-auto my-0 text-uppercase">SynapSearch</h1>
        </a>
    </div>
    <div class="modal-dialog modal-dialog-centered " role="document ">
        <div class="modal-content ">
            <div class="modal-body">
                <div class="form-title text-center pt-5">
                    <h4>Login</h4>
                </div>
                <div class="d-flex flex-column text-center">
                    <form method="POST" name="form">
                            {% csrf_token %}
                            {% if login_message %}
                            <div class="form-error-text ">
                                {{login_message}}
                            </div>
                            {% endif %}
                            {% for field in form %}
                                <div class="form-group " >
                                    {% for error in field.errors %}
                                        <div class="form-error-text ">{{error}}</div>
                                    {% endfor %}
                                    {{ field }}
                                </div>
                            {% endfor %}
                </div>
                <button type="submit" name="loginbutton" class="btn btn-info btn-block btn-round ">Log In</button>
                </form>
                <div class="text-center text-muted delimiter ">or use a social network</div>
                <div class="d-flex justify-content-center social-buttons ">
                    <button type="button " class="btn btn-secondary btn-round " data-toggle="tooltip " data-placement="top " title="Twitter ">
    <i class="fab fa-twitter "></i>
  </button>
                    <button type="button " class="btn btn-secondary btn-round " data-toggle="tooltip " data-placement="top " title="Facebook ">
    <i class="fab fa-facebook "></i>
  </button>
                    <button type="button " class="btn btn-secondary btn-round " data-toggle="tooltip " data-placement="top " title="Linkedin ">
    <i class="fab fa-linkedin "></i>
  </button>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-center ">
                <div>Not a member yet? <a href="{% url 'signup' %}"> Sign Up</a>.</div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}